@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@1,300&family=Smooch&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Gentium+Book+Plus:ital@1&family=Splash&family=The+Nautigal:wght@700&display=swap');
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#d1,
#d4 {
    display: flex;
    flex-direction: row;
}

#d4 {
    margin-top: 50px;
}

#side {
    margin-right: 40px;
}

#side1 {
    margin-left: 140px;
}

.myintro h2 {
    padding-top: 50px;
}

.myskills h2 {
    padding-top: 50px;
}

.mycertificates h2,
.contactme h2 {
    padding-top: 50px;
}

h2 {
    font-family: cursive;
    font-size: 50px;
    color: #FF8E9E;
}

.nav i {
    display: none;
}

.nav {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
}

.bar {
    display: none;
    margin-right: 10px;
}

#get {
    display: none;
    padding-right: 30px;
}

.navigation {
    display: flex;
}

.list li {
    margin-right: 20px;
}

.list li a {
    color: white;
    padding: 4px;
    text-decoration: none;
}

.navigation .list {
    display: flex;
    list-style: none;
}

.myintro h2 {
    font-family: cursive;
    margin-bottom: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8E9E;
    position: sticky;
    top: 0%;
    z-index: 1;
}

.main h3 {
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bolder;
}

.intro:hover~.bujji {
    transform: scale(1.2);
}

.myintro {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.intro {
    font-family: cursive;
    box-shadow: 0 0 10px #FF8E9E;
    height: auto;
    width: 40vw;
    border-radius: 4px;
    border: 2px solid #FF8E9E;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.intro span {
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.intro p::first-letter {
    font-weight: bold;
    font-size: 30px;
}

.intro p {
    text-align: center;
    font-size: 20px;
    font-family: 'Finlandica', sans-serif;
}

.myskills {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.minpic {
    position: relative;
    width: 190px;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px;
    padding-bottom: 60px;
    padding-top: 40px;
    border: 2px solid #FF8E9E;
    border-radius: 5px;
    box-shadow: 7px 7px 7px #FF8E9E;
}

.stars {
    display: flex;
    float: left;
}

.minpic p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
}

.minpic img {
    height: 120px;
    width: 120px;
    margin: 15px;
}

.minpic img:hover {
    height: 125px;
    width: 125px;
}

.mycertificates {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.certify {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.port {
    margin: 15px;
    padding: 0 5px;
    justify-content: center;
}

.port img {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid #FF8E9E;
    border-radius: 3px;
    padding: 8px;
    margin: 15px;
    box-shadow: 7px 7px 7px #FF8E9E;
}

.port img:hover {
    width: 230px;
    height: 180px;
    transition: 40ms;
}

.port a {
    font-family: cursive;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 6px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #FF8E9E;
    box-shadow: 4px 4px 4px rgb(216, 220, 178);
}

.certify a {
    text-decoration: none;
}

.port a:hover {
    font-size: 23px;
    padding: 8px;
    color: #fff;
    background-color: #FF8E9E;
    border-color: #FF8E9E;
    transition: 50ms;
}

.contactme {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contactme h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.number i {
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #FF8E9E;
}

.number i:hover {
    transform: scale(1.2);
    color: #FF8E9E;
}

li a:hover {
    border-radius: 3px;
    background-color: white;
    color: #FF8E9E;
    transition: 0.3s;
    transform: scale(1.2);
}

.extra {
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.add {
    border: 1px solid #FF8E9E;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px;
    background-color: whitesmoke;
    width: 60vw;
}

.num {
    margin-left: 15px;
}

#yellowstar {
    color: yellow;
}

#skillname {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

@media(max-width:700px) {
    #get:checked~.bar i::before {
        content: "\f00d";
    }
    .list {
        top: 21px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0%;
        width: 100vw;
        height: 50vh;
        z-index: 18;
        background-color: #FF8E9E;
        align-items: center;
        justify-content: center;
    }
    .list li {
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 10px;
        padding: 8px;
    }
    .list li a {
        color: rgb(255, 247, 247);
        padding: 8px 20px;
    }
    .nav i {
        display: flex;
    }
    .navigation {
        display: none;
        position: absolute;
        left: 0%;
        /* width: 100vw; */
    }
    #get:checked~.navigation {
        display: block;
        flex-direction: column;
    }
    li a:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(168, 227, 230);
        transition: 0.3s;
        transform: scale(1.2);
    }
    .bar {
        display: inline;
    }
}